
<div class="children">
        <h2>Child3</h2>
    
        <mat-form-field >
            <input matInput type="text" placeholder="Say something" [(ngModel)]="value">
        </mat-form-field>
        <div class="groupBtn">
            <button mat-stroked-button color="primary" (click)='sendMessageParent()'>Say to parent</button>
            <button mat-stroked-button color="primary" (click)='sendMessageChild(1)'>Say to child1</button>
            <button mat-stroked-button color="primary" (click)='sendMessageChild(2)'>Say to child2</button>   
            <button mat-raised-button color="primary" class="btn-lg" (click)='sendAll()'>Tell everyone</button>  
        </div>
        <p *ngIf='message' class='message'>{{child}} say: {{message}}</p>
</div>